* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#banner {
  width: 100%;
}
/*-------------- navigation ------------------*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
}

.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover {
  color: #007bff !important;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}

.fa-bars {
  color: #fff;
  font-size: 30px !important;
}

/*------ banner section ------------*/
#banner {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
  padding-top: 5%;
  padding-bottom: 4%;
  
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

/*------services section my work ------------*/
#services h2 {
  color: #a517ba;
  font-weight: 600;
  padding-bottom: 2%;
}
.gallery {
  margin: 10px 50px;
}

.gallery img {
  width: 230px;
  padding: 5px;
  transition: 1s;
}

.gallery img:hover {
  transform: scale(2.1);
}

/*------about me section ------------*/
#about-me {
  background: #f8f9fa;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

#about-me h2 {
  color: #a517ba;
  font-weight: 600;
  padding-bottom: 2%;
}

/*------testimonials section ------------*/
#testimonials {
  padding-top: 20px;
  padding-bottom: 20px;
}

#testimonials h2 {
  color: #a517ba;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 2%;
}

/*------contact section ------------*/
#contact-me {
  background: rgba(214, 211, 211, 0.911);
  padding-top: 40px;
  padding-bottom: 40px;
  color: #a517ba;
  font-weight: 600;
}

#contact-me h2 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 2%;
}

.contact-form {
  padding: 15%;
}

.form-control {
  border-radius: 0 !important;
  border: none !important;
}

::placeholder {
  color: #999 !important;
}

#contact-info {
  padding: 15%;
}

.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}
